{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
    <div class="main-body">
        
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 625px"> {#====== modyfikacja kcali =========#}
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">        
                        {% if preferentions %}
                            {% for preferention in preferentions %}   
                                {% set result = preferention.kcal_day - summKcal %} 
                                <div class="mt-3">      
                                    <h1 class="mt-5"><span style="color: blue">{{ preferention.kcal_day|e }}</span>
                                    -
                                    <span style="color: red">{{ summKcal|number_format }}</span>
                                    =
                                    <span style="color: green">{{ result }}</span> </h1><br><br><br><br>

                                    <h5><bold><span style="color: #ff6633">Białko: </span></bold> {{ summProtein|number_format }} <strong>/{{ preferention.proteinPerDay|e }}</strong> <br>
                                    <span style="color: #cc0099">Tłuszcz: </span></bold> {{ summFat|number_format }} <strong>/{{ preferention.fatPerDay|e }}</strong> <br>
                                    <span style="color: #3d3d29">Węglowodany: </span></bold> {{ summCarbo|number_format }} <strong>/{{ preferention.carboPerDay|e }}</strong> </h5>
                            {% endfor %}
                        {% else %}
                                <form action="{{ path('preferentions') }}" method="POST" class="form-horizontal">
                                    <h1 class="mt-5">Oblicz zapotrzebownie kaloryczne :)</h1><br>
                                    <button type="submit" class="btn btn-success">Dalej</button>
                                </form>
                        {% endif %}
                                </div>
                    </div>
                    </div>
                </div>
            </div>
            {% if preferentions %}
                {% for preferention in preferentions %}   
                {% set result = preferention.kcal_day - summKcal %} 
                <div class="col-md-8">
                        <div class="card mb-3" style="width: 410px; float: right"> {#===== modyfikacja makrosów ======#}
                            <div class="card-body">
                            <div class="row">
                                <div class="col" style="text-align: center">
                                <h6 class="mb-0">Białko</h6>
                                </div>
                                <div class="col" style="text-align: center">
                                <h6 class="mb-0">Tłuszcz</h6>
                                </div>
                                <div class="col" style="text-align: center">
                                <h6 class="mb-0">Węglowodany</h6>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0"></h6>
                                </div>
                                <div class="col-sm-9 text-secondary"></div>
                            </div>

                            <div class="row">
                                <div class="col" style="text-align: center">
                                <h6 class="mb-0"></span></bold>{{ summProtein|number_format }} <strong>/{{ preferention.proteinPerDay|e }}</strong></h6>
                                </div>
                                <div class="col" style="text-align: center">
                                <h6 class="mb-0"></span></bold> {{ summFat|number_format }} <strong>/{{ preferention.fatPerDay|e }}</strong></h6>
                                </div>
                                <div class="col" style="text-align: center">
                                <h6 class="mb-0"></span></bold> {{ summCarbo|number_format }} <strong>/{{ preferention.carboPerDay|e }}</strong></h6>
                                </div>
                            </div>
                {% endfor %}
                            <hr>
                            <div class="row">
                                <div class="col" style="text-align: center">
                                </div>
                                <div class="col" style="text-align: center">
                                    <img src="../assets/images/chart.png" alt="Admin" class="rounded-circle">
                                </div>
                                <div class="col" style="text-align: center">
                                </div>
                            </div>         
                            <div class="row">   
                            </div>
                            <hr>   
                            </div>
                        </div>
                {% else %}
                {% endif %}
            


                    
            </div>
        </div>
    </div>
{% endblock %}



