<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
              crossorigin="anonymous">

        <title>{% block title %}Kcalculator{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    
    </head>
    <body>
        <div id="navbar1">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">  
            
                {% if app.user %}
                    <a class="navbar-brand" href="{{ path('dashboard') }}">
                    <div id="mylogo">
                        <img class="mylogo" src="../assets/images/LOGO.PNG" alt="LOGO">
                    </div>
                    </a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('home') }}">
                    <div id="mylogo">
                        <img class="mylogo" src="../assets/images/LOGO.PNG" alt="LOGO">
                    </div>
                    </a>
                {% endif %}

                {% if app.user %}

                <div id="searchingField"> 
                    <form action="{{ path('findFood') }}" method="POST" class="d-flex">    
                                           
                        <input type="search" name="search" class="form-control me-2" placeholder="Wpisz nazwę produktu, aby dodać go do dziennika" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Szukaj</button>   

                     </form>              
                </div> 

                {% endif %}
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('dashboard') }}">Tablica</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('showEntries') }}">Dziennik</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('profile') }}">Mój profil</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('logout') }}">Wyloguj się</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Strona główna</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('login') }}">Zaloguj się</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('registration') }}">Zrejestruj się</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </nav>
        </div>
        {% if app.user %}
         <div id="wrapper">

        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Kcalculator
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard') }}">Tablica</a>
                </li>
                <li>
                    <a href="{{ path('showEntries') }}">Dziennik</a>
                </li>
                <li>
                    <a href="{{ path('profile') }}">Mój profil</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Wyloguj się</a>
                </li>
            </ul>
        </div>
        </div>
         {% endif %}
        
        
        
        <div class="container">
            <div class="col-md-12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{type}}">{{message}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
             {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
