{% extends 'base.html.twig' %}

{% block body %}
    
            <div class="col-lg-6">
                <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                    <div class="col-lg-6">
                        <h2 class="mt-5">Witaj {{ app.user.username  }}!</h2><br>
                        <div>                           
                            <em><h6>Poniżej przedsawiamy Twoje zapotrzebowanie kaloryczne :)</h6><br><br></em>

                            <div><h4>Płeć: {{ preferentions.gender}}</h4></div>
                            <div><h4>Waga: {{ preferentions.weight}} kg</h4></div>
                            <div><h4>Wzrost: {{ preferentions.height}} cm</h4></div>
                            <div><h4>Wiek: {{ preferentions.age}} lata</h4></div>
                            <div><h4>Aktywność: {{ preferentions.activity}}</h4></div>
                            {# <div><h4>Dzienne zapotrzebowanie: {{ preferentions.caloric_requirement}} kcal</h4></div> #}
                            {# <div><h4>Cel: {{ preferentions.intension}} </h4></div> #}
                            {# <div><h3>Należne zapotrzebowanie: <span style="color: blue">{{ preferentions.kcal_day}} kcal</span></h3></div> #}
                            
                                                                         
                            </div>                      
















{% endblock %}