{% extends 'base.html.twig' %}

{% block body %}   

<div class="row" id="dashboard">

   <div class="col-lg-12">

                        <h2 class="mt-5">Witaj {{ preferentions.users.username  }}!</h2><br>
                                                  
                            <em><h6>Poniżej przedsawiamy Twoje zapotrzebowanie kaloryczne :)</h6><br><br></em>
                            {% if entry.gender == 'Mężczyzna' %}
                            <h4>{{ preferentions.gender }} w wieku {{ preferentions.age }} lat, który ma {{ preferentions.activity }}, 
                            przy wzroście {{ preferentions.height }} cm i wadze {{ preferentions.weight }} kg, 
                            aby {{ preferentions.intentions }} powinien jeść w ciągu dnia 
                            <span style="color: blue">{{ preferentions.kcal_day }} kcal</span> </h4>

                            {% if entry.gender == 'Kobieta' %}
                            




                            
                            
                                                                         

{% endblock %}