{% extends 'base.html.twig' %}

{% block title %}{{ product.product }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
           <form action="{{ path('addEntry', {id: product.id}) }}" method="POST" id="entryform" class="form-horizontal"> 
        
                <div class="row"><h1 class="mt-5"> Dodaj wpis do dziennika</h1></div><br><br><br>
                <div><h1><blold>{{ product.product|e }}: <h1></bold></div>

                <div><h2><bold><span style="color: #006600">{{ product.energy|e }} kcal, </span></bold> <span style="color: grey"><em>porcja 100g</em></span></h2> 
                    <button type="submit" name="klik" class="btn btn-success">Dodaj wpis</button>
                <div>

                <hr style="height:2px;border-width:0;color:gray;background-color:gray">

                <div><h5><bold><span style="color: #ff6633">Białko: </span></bold>{{ product.protein|e }} g</h5></div>

                <div><h5><span style="color: #cc0099">Tłuszcz: </span></bold>{{ product.fat|e }} g</h5></div>

                <div><h5><span style="color: #3d3d29">Węglowodany: </span></bold>{{ product.carbo|e }} g</h5></div>
            </form> 

             <div class="row">
                    <form action="{{ path('addEntry', {id: product.id}) }}" method="POST" id="entryform" class="form-horizontal">  
                        <div>
                            <form class="row row-cols-lg-auto g-3 align-items-center">
                                <div class="col-12">
                                <br>
                                    <label class="visually-hidden" for="inlineFormSelectPref">Wybierz posiłek</label>

                                    <select name="Meals" form="entryform">
                                        <option selected, value="meal_1">Przekąska</option>
                                        <option value="meal_2">Śniadanie</option>
                                        <option value="meal_3">Drugie śniadanie</option>
                                        <option value="meal_4">Obiad</option>
                                        <option value="meal_5">Podwieczorek</option>
                                        <option value="meal_6">Kolacja</option>   
                                    </select><br> <br>

                                   
                                    <label class="visually-hidden" for="inlineFormSelectPref">Wielość porcji</label>

                                    <select name="Grammage" form="entryform"> 
                                        <option selected, value="100">1</option>
                                        <option value="0.125">1/8</option>
                                        <option value="0.25">1/4</option>
                                        <option value="0.333">1/3</option>
                                        <option value="0.375">3/8</option>
                                        <option value="0.50">1/2</option>
                                        <option value="0.625">5/8</option>
                                        <option value="0.666">2/3</option>
                                        <option value="0.75">3/4</option>
                                        <option value="0.875">7/8</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>

                                </div>

                                 </div>
                                </form>
                           
                        </div>
                    </form>
                </div>  
        </div>
    </div>
{% endblock %}
