{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Dane osobowe</h1><br>
            {% if profile %}
                {% for profile in profile %}
                    <div><h5>Nazwa użytkownika: {{ profile.username|e }} </h5></div>
                    <div><h5>Adres e-mail: {{ profile.email|e }} </h5></div>
                    <div><h5>Płeć: {{ profile.gender|e }} </h5></div>
                    <div><h5>Waga: {{ profile.weight|e }}kg </h5></div>
                    <div><h5>Wzrost: {{ profile.height|e }}cm </h5></div>
                    <div><h5>Wiek: {{ profile.age|e }} </h5></div>
                    <div><h5>Cel: {{ profile.intentions|e }} </h5></div>
                    <div><h5>Zapotrzebowanie: {{ profile.kcal_day|e }} kcal</h5></div>
                {% endfor %}

            {% else %}
            <table border="1" style="width: 500px; height: 150px;">
                <tr style="text-align: center; ">
                    <td>Nazwa użytkownika </td>
                    <td>{{ app.user.username }}</td>                    
                </tr>
                <tr style="text-align: center; ">
                    <td>Adres e-mail </td>
                    <td>{{ app.user.email }}</td>
                    
                </tr>
            </table><br>
            <div><h4>Ustaw preferencje, aby mieć wgląd do większej ilości informacji :)</h4></div><br>
            

            <form action="{{ path('preferentions') }}" method="POST" class="form-horizontal">
                    <button type="submit" class="btn btn-success">preferencje</button>
            </form>

            {% endif %}
            
        </div>
    </div>
{% endblock %}