{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Tutaj będą dane użytkownika</h1><br>
            {% for profile in profile %}
                <div><h5>Nazwa użytkownika: {{ profile.username|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.email|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.gender|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.weight|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.height|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.age|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.intentions|e }} </h5></div>
                <div><h5>Nazwa użytkownika: {{ profile.kcal_day|e }} </h5></div>
               
                


            {% endfor %}
            
        </div>
    </div>
{% endblock %}