{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Dane osobowe</h1><br>
            {% if profile %}
                {% for profile in profile %}

                    <table border="1" style="width: 500px; height: 150px;">

                        <tr style="text-align: center; ">
                            <td>Nazwa użytkownika </td>
                            <td>{{ profile.username|e  }}</td>                    
                        </tr>

                        <tr style="text-align: center; ">
                            <td>Adres e-mail </td>
                            <td>{{ profile.email|e  }}</td>                          
                        </tr>

                        <tr style="text-align: center; ">
                            <td>Płeć  </td>
                            <td>{{ profile.gender|e}}</td>                       
                         </tr>
 
                         <tr style="text-align: center; ">
                            <td>Waga </td>
                            <td>{{ profile.weight|e }} kg</td>                    
                        </tr>

                        <tr style="text-align: center; ">
                            <td>Wzrost </td>
                            <td>{{ profile.height|e  }} cm</td>                    
                        </tr>
                    
                        <tr style="text-align: center; ">
                            <td>Wiek </td>
                            <td>{{ profile.age|e  }}</td>                    
                        </tr>
                    
                        <tr style="text-align: center; ">
                            <td>Cel </td>
                            <td>{{ profile.intentions|e  }}</td>                    
                        </tr>
                    
                        <tr style="text-align: center; ">
                            <td>Zapotrzebowanie </td>
                            <td>{{ profile.kcal_day|e  }} kcal</td>                    
                        </tr>
                    </table>
                   
                {% endfor %}

            {% else %}
            <table border="1" style="width: 500px; height: 150px;">
                <tr style="text-align: center; ">
                    <td>Nazwa użytkownika </td>
                    <td>{{ app.user.username }}</td>                    
                </tr>
                <tr style="text-align: center; ">
                    <td>Adres e-mail </td>
                    <td>{{ app.user.email }}</td>
                    
                </tr>
            </table><br>
            <div><h4>Ustaw preferencje, aby mieć wgląd do większej ilości informacji :)</h4></div><br>
            

            <form action="{{ path('preferentions') }}" method="POST" class="form-horizontal">
                    <button type="submit" class="btn btn-success">preferencje</button>
            </form>

            {% endif %}
            
        </div>
    </div>
{% endblock %}