{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Tutaj będą dane użytkownika</h1><br>
            {% if profile %}
                {% for profile in profile %}
                    <div><h5>Nazwa użytkownika: {{ profile.username|e }} </h5></div>
                    <div><h5>Adres e-mail: {{ profile.email|e }} </h5></div>
                    <div><h5>Płeć: {{ profile.gender|e }} </h5></div>
                    <div><h5>Waga: {{ profile.weight|e }}kg </h5></div>
                    <div><h5>Wzrost: {{ profile.height|e }}cm </h5></div>
                    <div><h5>Wiek: {{ profile.age|e }} </h5></div>
                    <div><h5>Cel: {{ profile.intentions|e }} </h5></div>
                    <div><h5>Zapotrzebowanie: {{ profile.kcal_day|e }} kcal</h5></div
                {% endfor %}

            {% else %}

            <h1 class="mt-5">Cześć {{ app.user.username }} {{ app.user.email }}  ustaw preferencje :)</h1><br>

            {% endif %}
            
        </div>
    </div>
{% endblock %}