{% extends 'base.html.twig' %}

{% block body %}
    
            <div class="col-lg-6">
                <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                    <div class="col-lg-6">
                        <h3 class="mt-5">Wybrany produkt</h3><br>
                            <div>                           
                                <ul>
                                    {% for product in products %}
                                        
                                        <li>{{ product.product|e }}</li>
                                        <li>{{ product.energy|e }}</li>
                                        <li>{{ product.protein|e }}</li>
                                        <li>{{ product.fat|e }}</li>
                                        <li>{{ product.carbo|e }}</li>
                                    {% else %}
                                        <li><em>nie ma takiego produktu</em></li>
                                        
                                    {% endfor %}
                                </ul>                              
                            </div>
                        </ul>
                    </div>
                    
                </form>
            
        </div>
    
{% endblock %}
