{% extends 'base.html.twig' %}

{% block body %}
   
                    
                    <div class="col-lg-6">
                        <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h1>
                            <p>
                               
                                <input type="date" id="date" name="dataTocheckDaily" value="2010-01-01" >
                            </p>
                            <div>                           
                                    <br><br>
                                    {% if entry %}
                                    {% for entry in entry %}
                                        
                                        {% for product in entry.food %}
                                            <div class="row"><h2><blold><span style="color: black">{{ product.product|e }}, {{ (entry.grammage|e)*100 }} g</span></h2></bold></div>
                                            <div class="row"><h4>{{ entry.energyXgram|e }} kcal</h4></div>
                                            <div class="row"><h5>B: {{ entry.proteinXgram|e }} g, T: {{ entry.fatXgram|e }} g, W: {{ entry.carboXgram|e }} g</h5></div>
                                            
                                        {% endfor %}
                                        <br>
                                       <div class="row"><h3><blold>Posilek: {{ entry.meal_type|e }} <h3></bold></div> 
                                       <div class="row">
                                        <a href="#">Edytuj</a>
                                        
                                        </div> 
                                                                                                                      
                                        <hr class="row"style="height:2px;border-width:0;color:gray;background-color:gray">
                                        
                                        
                                    {% endfor %}  
                                    {% else %}
                                        <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                                            <label> Aby utworzyć wpis, dodaj produkty </label>
                                            <input type="search" name="search" class="form-control me-2" placeholder="Wpisz nazwę produktu" aria-label="Search">
                                            <button class="btn btn-outline-success" type="submit">Szukaj</button> 
                                    {% endif %}                                                                          
                            </div>                      
                    </div>                  
{% endblock %}
 {# {% set result = preferention.kcal_day - summKcal %}  #}