{% extends 'base.html.twig' %}

{% block body %}
   
                    
                    <div class="col-lg-6">
                    {% if entry %}
                        <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                            <p>
                               <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                                <input type="date" id="date" name="dataTocheckDaily">
                                <button type="submit" name="dateCheck" class="btn btn-success">pokaż</button>
                                </form> 

                            </p>
                            <div>  
                                                     
                                    <br><br>
                                    
                                    {% for entry in entry %}
                                    <div class="row"><h1><span style="color: #6b6b47">{{ entry.meal_type|e }} </span></h1></div>
                                        {% for product in entry.food %}
                                            <div class="row"><h2><blold><span style="color: black">{{ product.product|e }}, {{ (entry.grammage|e)*100 }} g</span></h2></bold></div>
                                            <div class="row"><h4>{{ entry.energyXgram|e }} kcal</h4></div>
                                            <div class="row"><h5>B: {{ entry.proteinXgram|e }} g, T: {{ entry.fatXgram|e }} g, W: {{ entry.carboXgram|e }} g</h5></div>
                                            
                                        {% endfor %}
                                        
                                       
                                       <div class="row">
                                        <a href="{{ path('editEntry', {id: entry.id}) }}">Edytuj</a>&nbsp;&nbsp;
                                        <a href="{{ path('deleteEntry', {id: entry.id}) }}"><span style="color: red">Usuń</span></a>
                                        </div> 
                                                                                                                      
                                        <hr class="row"style="height:2px;border-width:0;color:gray;background-color:gray">
                                        
                                        
                                    {% endfor %}  
                                    {% else %}
                                    <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                                        <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                                            <label> Aby utworzyć wpis, dodaj produkty </label>
                                            <input type="search" name="search" class="form-control me-2" placeholder="Wpisz nazwę produktu" aria-label="Search">
                                            <button class="btn btn-outline-success" type="submit">Szukaj</button> 
                                    {% endif %}                                                                          
                            </div>                      
                    </div>                  
{% endblock %}
 {# {% set result = preferention.kcal_day - summKcal %}  #}