{% extends 'base.html.twig' %}

{% block body %} {#<div class="row"><h1 class="mt-5"> Dziennik</h1></div><br><br><br>#}
<divc lass="col-lg-12" >
<br>
                    {% if entry %}
                       <div class="row"> <h3><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>
                               <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                                <input type="date" id="date" name="dataTocheckDaily">
                                <button type="submit" name="dateCheck" class="btn btn-dark">pokaż</button>
                                </form> 

                            </p>
                            <div>  
                                                     
                                    <br><br>
                                    {% if snack %}
                                    <table class="table table-striped" style="width: 1000px;"> 
                                        <thead>
                                            <tr>
                                                <th><h3>Przekąski</h3></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4>{{ snackcal|number_format }} kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                    <tbody>
                                    {% for snack in snack %}
                                        {% for product in snack.food %}
                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (snack.grammage|e)*100 }} g</span></h5></bold>
                                                </td>
                                                <td>
                                                <a>{{ snack.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="{{ path('deleteEntry', {id: snack.id}) }}"><span style="color: red">Usuń</span></a>                                          
                                                </td>
                                            </tr>                                                             
                                          {% endfor %}                                                                                                                  
                                    {% endfor %}  
                                    </tbody>
                                    </table>
                                    {% else %}                                    
                                    {% endif %} <br>

                                    {% if breakfast %}
                                    <table class="table table-striped" style="width: 1000px;"> 
                                        <thead>
                                            <tr>
                                                <th><h3>Śniadanie</h3></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4> kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                     <tbody>
                                    {% for breakfast in breakfast %}                                   
                                        {% for product in breakfast.food %}

                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (breakfast.grammage|e)*100 }} g</span></h5></bold>
                                                </td>

                                                <td>
                                                <a>{{ breakfast.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>

                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="{{ path('deleteEntry', {id: breakfast.id}) }}"><span style="color: red">Usuń</span></a>                                           
                                                </td>
                                            </tr>                                                                                                      
                                          {% endfor %}                                                                                                                                                           
                                    {% endfor %}  
                                    </tbody>  
                                    </table>
                    
                                    {% else %}
                                    
                                    {% endif %}<br>
                                      
                                    {% if lunch %}
                                    <table class="table table-striped" style="width: 1000px;"> 
                                        <thead>
                                            <tr>
                                                <th><h3>Drugie Śniadanie</h3></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4> kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                     <tbody>
                                    {% for lunch in lunch %}                                   
                                        {% for product in lunch.food %}

                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (lunch.grammage|e)*100 }} g</span></h5></bold>
                                                </td>

                                                <td>
                                                <a>{{ lunch.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>

                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="{{ path('deleteEntry', {id: lunch.id}) }}"><span style="color: red">Usuń</span></a>                                          
                                                </td>
                                            </tr>                                                                                                      
                                          {% endfor %}                                                                                                                                                           
                                    {% endfor %}  
                                    </tbody>  
                                    </table>
                    
                                    {% else %}
                                    
                                    {% endif %}<br>

                                    {% if dinner %}
                                    <table class="table table-striped" style="width: 1000px;"> 
                                        <thead>
                                            <tr>
                                                <th><h3>Obiad</h3></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4> kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                     <tbody>
                                    {% for dinner in dinner %}                                   
                                        {% for product in dinner.food %}

                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (dinner.grammage|e)*100 }} g</span></h5></bold>
                                                </td>

                                                <td>
                                                <a>{{ dinner.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>

                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="{{ path('deleteEntry', {id: dinner.id}) }}"><span style="color: red">Usuń</span></a>                                          
                                                </td>
                                            </tr>                                                                                                      
                                          {% endfor %}                                                                                                                                                           
                                    {% endfor %}  
                                    </tbody>  
                                    </table>
                    
                                    {% else %}
                                    
                                    {% endif %}<br>
                                    
                                    {% if tea %}
                                    <table class="table table-striped" style="width: 1000px;"> 
                                        <thead>
                                            <tr>
                                                <th><h3>Podwieczorek</h3></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4> kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                     <tbody>
                                    {% for tea in tea %}                                   
                                        {% for product in tea.food %}

                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (tea.grammage|e)*100 }} g</span></h5></bold>
                                                </td>

                                                <td>
                                                <a>{{ tea.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>

                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="{{ path('deleteEntry', {id: tea.id}) }}"><span style="color: red">Usuń</span></a>                                          
                                                </td>
                                            </tr>                                                                                                      
                                          {% endfor %}                                                                                                                                                           
                                    {% endfor %}  
                                    </tbody>  
                                    </table>                   
                                    {% else %}                                   
                                    {% endif %}<br>
                                    
                                    {% if supper %}
                                    <table class="table table-striped" style="width: 1000px;"> 
                                        <thead>
                                            <tr>
                                                <th><h3>Kolacja</h3></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4> kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                     <tbody>
                                    {% for supper in supper %}                                   
                                        {% for product in supper.food %}

                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (supper.grammage|e)*100 }} g</span></h5></bold>
                                                </td>

                                                <td>
                                                <a>{{ supper.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>

                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="{{ path('deleteEntry', {id: supper.id}) }}"><span style="color: red">Usuń</span></a>                                          
                                                </td>
                                            </tr>                                                                                                      
                                          {% endfor %}                                                                                                                                                           
                                    {% endfor %}  
                                    </tbody>  
                                    </table>                   
                                    {% else %}                                   
                                    {% endif %}<br>





                                    {# DO TĄD #}
                                    {% else %}
                                    <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                                        <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                                            <label> Aby utworzyć wpis, dodaj produkty </label>
                                            <input type="search" name="search" class="form-control me-2" placeholder="Wpisz nazwę produktu" aria-label="Search">
                                            <button class="btn btn-outline-success" type="submit">Szukaj</button> 
                                    {% endif %}                                                                                           
                            </div>                      
                    </div>                  
{% endblock %}
 {# {% set result = preferention.kcal_day - summKcal %}  #}



