{% extends 'base.html.twig' %}

{% block body %}
   
                    
                    <div class="col-lg-6">
                    {% if entry %}
                        <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                            <p>
                               <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                                <input type="date" id="date" name="dataTocheckDaily">
                                <button type="submit" name="dateCheck" class="btn btn-dark">pokaż</button>
                                </form> 

                            </p>
                            <div>  
                                                     
                                    <br><br>
                                    <h1><span style="color: #6b6b47"> Przekąski </span></h1>

                                    {% for snack in snack %}
                                        {% for product in snack.food %}
                                            <h2><blold><span style="color: black">{{ product.product|e }}, {{ (snack.grammage|e)*100 }} g</span><bold></h2>
                                        
                                        
                                       
                                       
                                          {% endfor %}                                                                            
                                        
                                        
                                        
                                    {% endfor %}  
                                    {% else %}
                                    <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                                        <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                                            <label> Aby utworzyć wpis, dodaj produkty </label>
                                            <input type="search" name="search" class="form-control me-2" placeholder="Wpisz nazwę produktu" aria-label="Search">
                                            <button class="btn btn-outline-success" type="submit">Szukaj</button> 
                                    {% endif %}                                                                                           
                            </div>                      
                    </div>                  
{% endblock %}
 {# {% set result = preferention.kcal_day - summKcal %}  #}



