{% extends 'base.html.twig' %}

{% block body %}
   
                    
                    <div class="col-lg-6">
                    {% if entry %}
                        <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                            <p>
                               <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                                <input type="date" id="date" name="dataTocheckDaily">
                                <button type="submit" name="dateCheck" class="btn btn-dark">pokaż</button>
                                </form> 

                            </p>
                            <div>  
                                                     
                                    <br><br>
                                    <table class="table table-striped" style="width: 800px;"> 
                                        <thead>
                                            <tr>
                                                <th><h4>Śniadanie</h4></th>
                                                
                                                <th><h6></h6></th>
                                                <th><h4> kcal</h4></th> 
                                                                
                                            </tr>
                                        </thead>
                                     
                                    {% for snack in snack %}
                                        {% for product in snack.food %}

                                        <tbody>

                                            <tr>
                                                <td>
                                                <h5><blold><span style="color: black">{{ product.product|e }}, {{ (snack.grammage|e)*100 }} g</span></h5></bold>
                                                </td>

                                                <td>
                                                <a>{{ snack.energyXgram|e }} kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>

                                                <td>
                                                <a href="#">Edytuj</a> &nbsp;&nbsp;
                                                <a href="#"><span style="color: red">Usuń<span></a>                                            
                                                </td>
                                            </tr>
                                             
                                        
                                       
                                       
                                          {% endfor %}                                                                            
                                        
                                        
                                        
                                    {% endfor %}  
                                    </tbody>

                                            </table>
                                        
                                    {% else %}
                                    <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h3>
                                        <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                                            <label> Aby utworzyć wpis, dodaj produkty </label>
                                            <input type="search" name="search" class="form-control me-2" placeholder="Wpisz nazwę produktu" aria-label="Search">
                                            <button class="btn btn-outline-success" type="submit">Szukaj</button> 
                                    {% endif %}                                                                                           
                            </div>                      
                    </div>                  
{% endblock %}
 {# {% set result = preferention.kcal_day - summKcal %}  #}



