{% extends 'base.html.twig' %}

{% block body %}
   <div class="col-lg-6">
                    

                        <h3 class="mt-5"><h1><span style="color: blue"> {{ "now"|date("d/m/Y") }} </span></h1>
                            <div>                           
                                    <br><br>
                                    {% for entry in entry %}

                                        {% for product in entry.food %}
                                            <div class="row"><h2><blold><span style="color: black">{{ product.product|e }}, {{ entry.grammage|e }} g</span></h2></bold></div>
                                            <div class="row"><h4>{{ product.energy|e }} kcal <span style="color: gray">(wartość jeszcze na 100g)</span></h4></div>
                                            <div class="row"><h5>B: {{ product.protein|e }} g, T: {{ product.fat|e }} g, W: {{ product.carbo|e }} g</h5></div>
                                            
                                        {% endfor %}
                                        <br>
                                       <div class="row"><h3><blold>Posilek: {{ entry.meal_type|e }}, <h3></bold></div> <br>
                                                                                                                      
                                        <hr class="row"style="height:2px;border-width:0;color:gray;background-color:gray">
                                        
                                    {% endfor %}                                                                            
                            </div>                      
                    </div>                  
{% endblock %}
